# from: https://stackoverflow.com/questions/59626843
.Rproj.user
.Ruserdata

# from: https://github.com/github/gitignore/blob/main/R.gitignore
.Rhistory
.Rapp.history
.RData
.RDataTmp

# application-specific items
app/.Renviron
app/rsconnect
app/app_data.rds
app/local_store.rds
app/cloud_store.rds
tests/test_cloud_store.rds

# other repo-specific items
ignore
README.html
sdr_wf_config.rds
workflow_logs.txt
# for microsoft office files
extras/~$*
