# from: https://stackoverflow.com/questions/59626843
.Rproj.user
.Ruserdata

# from: https://github.com/github/gitignore/blob/main/R.gitignore
.Rhistory
.Rapp.history
.RData
.RDataTmp

# application-specific items
app/.Renviron
app/rsconnect
app/app_data.rds

# other repo-specific items
ignore
README.html
